body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

}
header span{
  color: rgb(173, 33, 33);
  font-weight: 700;
  
}
/* search btn css */
.search{
  height: 35px;
  width: 50%;
  align-items: center;
  outline: none;
  border-radius: 25px;


}
.btns{
  padding: 4px;
  border-radius: 20px;
  width: 100px;
}
.btns:hover{
  background-color: #8a2222;
  color: white;
}
/* all products css */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
/* single product details show css */
.details-image{
  width:40%;
  /* height: 200px; */
}
/* single product css*/
.single-product {
  padding: 10px;
  transition: 0.6s;
  box-shadow: 5px 5px 5px 5px #635b5b;
  border-radius: 15px;
  height:100%;
  
 
}
.single-product:hover {
  box-shadow: 14px 14px 17px gray;
  border-radius: 10px;
  border: 2px solid #8a2222;
  background-color: #efdbdb;

}
/* image of product  css */
.product-image {
  width: 150px;
  height: 150px;
}
/* cart css */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* responsive media queries */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}